.btn-link {
	 padding: 0;
	 border: 0;
	 background: 0 0;
	 border-bottom: 1px solid #000;
}
 .btn-close {
	 display: block;
	 width: 18px;
	 height: 18px;
	 padding: 0;
	 overflow: hidden;
	 border: 0;
}
 .btn-close:before {
	 content: "\e680";
	 font-family: "Pe-icon-7-stroke";
	 font-size: 2em;
	 font-weight: bolder;
	 cursor: pointer;
}
 .modal .btn-close {
	 position: absolute;
	 top: 0px;
	 right: 5px;
	 background: 0 0;
	 width: 28px;
	 height: 28px;
	 z-index: 20;
	 line-height: normal;
}
 .btn-toggle {
	 width: 33.3333333%;
	 display: inline-block;
	 padding: 1.2em 0;
	 font-family: Helvetica, Arial, sans-serif;
	 font-weight: 300;
	 margin: 0;
	 position: relative;
}
 .btn-toggle span {
	 display: inline-block;
}
 .btn-toggle:hover {
	 background: #F3F2F2;
}
 .btn-toggle:hover:after {
	 opacity: 1;
}
 .btn-toggle:after {
	 position: absolute;
	 content: "";
	 top: 45%;
	 width: 0;
	 height: 0;
	 border: 5px solid transparent;
	 border-color: black transparent transparent transparent;
	 opacity: .25;
	 margin: 0 -0.25em 0 0.45em;
	 transition: opacity .4s ease-in-out;
}
 .btn-toggle.active:after {
	 border-color: transparent transparent black transparent;
	 top: 30%;
	 opacity: 1;
}
 button {
	 letter-spacing: 1px;
}
 button.btn-toggle.mobile-only {
	 height: unset;
	 line-height: normal;
	 border: none;
	 font-size: .7em;
	 text-transform: uppercase;
	 letter-spacing: unset;
}
 button.btn-toggle.mobile-only span {
	 font: inherit;
	 color: black;
	 line-height: normal;
}
 button.btn-toggle.mobile-toolbar-menu-toggle:hover {
	 color: unset;
}
 button.btn:hover {
	 background: black;
}
 button.btn {
	 border: none;
	 border-radius: 0 !important;
	 cursor: pointer !important;
}
 .btn.btn-continue-shopping {
	 display: inline-block;
	 line-height: 1.85em;
}
 .btn-x-v2, .btn-x-v3 {
	 padding: 1.5em 5.5em 1.3em;
	 display: inline-block;
}
 .btn-x-v3 {
	 font-size: 17px;
}
 .btn-submit, .btn-subscribe, .btn-modal-submit, .btn-x-v1 {
	 padding: 1.75em 4em 1.5em;
	 display: inline-block;
}
 .buttons-set {
	 padding-top: 7px;
	 border-top: 0px;
	 margin-top: 0px;
}
 .btn-submit-v5 {
	 background: #fff;
	 border: none;
	 text-decoration: underline;
	 padding: .5em 1em;
	 font-size: unset;
}
 .btn-arrow:after {
	 content: '';
	 position: absolute;
	 right: -15px;
	 top: 45%;
	 margin: -4px 0 0;
	 border: 5px solid black;
	 border-color: transparent transparent transparent black;
}
 
.btn {
    font-weight: 300;
    min-height: 28px;
    padding: .4em 1.5em .25em;
    background: #000 !important;
    font-size: 1.05rem;
    line-height: 1.25em;
    text-transform: uppercase !important;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 0;
}